:root {
  --purle: #dc5dfc;
  --like: #b5a9ff;
  --violet: #6a5dc2;
  --white: #fff;
  --dark-grey: #393b3c;
  --grey: #9c9e9d;
  --light-grey: #bbbac0;
  --light-black: #222325;
  --black: #0a0c0b;
  --blue: #66a5ea;
  --error: #ff7178;
}
