.button {
  cursor: pointer;
  padding: 16px 48px;
  color: #fff;
  font-family: "Play";

  border: none;
  border-radius: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  transition: all 0.2s;
}

.button-primary {
  background-color: var(--blue);
}

.button-secondary {
  background-color: var(--dark-grey);
}

.button-secondary:hover {
  background-color: var(--white);
  color: var(--black);
}

.button-icon {
  background-color: var(--dark-grey);
}

.button-icon:hover svg path {
  fill: #b4a9ff;
}

.button-icon {
  display: flex;
  align-items: center;
  padding: 18px 23px;
  border-radius: 28px;
}

.button-without-border {
  background-color: inherit;
  color: var(--black);
  background-color: inherit;
}

.button-auth {
  border: none;
  background-color: inherit;
  color: var(--white);
  background-color: inherit;
}
