.header {
  display: none;

  padding: 36px 0;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 868px) {
    display: flex;
    padding: 16px 0;
  }
}

.logo {
  max-height: 45px;
  align-self: center;
  margin-right: 80px;
}

.mobileNav {
  display: flex;
  align-items: center;
  gap: 20px;
}
