.backlink {
  display: block;
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 64px;
}

.genre-page {
  display: flex;
  flex-direction: column;
}

.genre-page__film-list {
  margin-bottom: 20px;
}

.genre-page button {
  align-self: center;
}
