.commandList {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 574px) {
    flex-wrap: wrap;
  }
}

.commandItem:first-child {
  @media (max-width: 475px) {
    width: 100%;
  }
}
